<configuration debug="true" scan="true" scanPeriod="1 seconds">
  <include file="${LOG_LEVELS_PATH}/log-levels.xml"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="${ROOT_LOG_LEVEL:-info}">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="org.dmitry.example" level="${APPLICATION_LOG_LEVEL:-info}"/>
  <logger name="org.dmitry.example.logleveldemo.SystemPropertiesScanTask" level="debug"/>
</configuration>
